<!DOCTYPE html>
<html lang="en">

<!--------------------- HEAD ----------------->

<%- include('../partials/head') %>
    <!--------------------- BODY ----------------->

    <body>
        <!--------------------- HEADER ----------------->
        <%- include('../partials/header') %>

            <!-------------------- MAIN --------------------->


            <main>
                <div class="container">
                    <h1>Alta - Baja - Modificacion de Familias </h1>
                    <a class="btn" href="/admin"><i class="fa-solid fa-circle-left"></i> Volver</a>
                    <a class="btn" href="/admin/familyNew">Crear Familia <i class="fa-solid fa-file"></i></a>
                    <br><br>
                    <input class="form-control" id="myInput" type="text" placeholder="Buscar..">
                    <br>
                    <table style="margin-left: 0; margin-right:0 ;" class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 5%; text-align: center; ">id</th>
                                <th style="width: 70%;text-align: center;">Nombre</th>
                                <th style="width: 10%;text-align: center;">Activo</th>
                                <th style="width: 15%;text-align: center;">Acciones</th>

                            </tr>
                        </thead>
                        <tbody id="myTable">
                            <% for (let aux of familias ){ %>
                                <tr>
                                    <td>
                                        <%= aux.id%>
                                    </td>
                                    <td>
                                        
                                        <%= aux.name%>
                                    </td>
                                    <td>
                                        
                                        <% if (aux.active==false) { %> NO<%} else { %> SI<% } %> 
                                    </td>
                                    
                                    <td>
                                        <a href="/admin/familyEdit/<%= aux.id%>" class="btn-edit-grid"><i title="Editar Familia"
                                        
                                        class="fa-solid fa-pen-to-square"></i></a>

                                        <% if (aux.active==true) { %> 
                                            <form style="display:inline; " action="/admin/familyInactivar/<%= aux.id%>" method="POST">
                                                <button type="submit"  class="btn-inactivar-grid"><i title="Inactivar Familia"
                                                        class="fa-solid fa-thumbs-down"></i></button>
                                            </form>

                                            <% } else { %>
                                                <form style="display:inline; " action="/admin/familyActivar/<%= aux.id%>" method="POST">
                                                    <button type="submit"  class="btn-activar-grid"><i title="Activar familia"
                                                            class="fa-solid fa-thumbs-up"></i></button>
                                                </form>
                                                <% } %>

                            </td>
                                </tr>
                                <%}%>
                        </tbody>
                    </table>




                </div>
            </main>

            <!-- FOOTER -->
            <%- include ('../partials/footer.ejs') %>
    </body>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

</html>