<!DOCTYPE html>
<html lang="en">

<!--------------------- HEAD ----------------->

<%- include('../partials/head') %>
    <!--------------------- BODY ----------------->

    <body>
        <!--------------------- HEADER ----------------->
        <%- include('../partials/header') %>



            <!-------------------- MAIN --------------------->
            <main>
                <div class="container">
                    <h1>Editar Producto</h1>
                    <br>
                    

                    <% if(typeof alert !='undefined' ) { %>
                        <% alert.forEach(function(error) { %>
                            <div class="alert alert-danger alert-dismissible fade in">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <%= error.msg %>
                            </div>
                            <% }) %>
                                <% } %>

                                <a class="btn" href="/admin/products"><i class="fa-solid fa-circle-left"></i>Volver</a>
                                    <form action="/admin/productEdit/<%= allProductToEdit.id %>?_method=PATCH"
                                        method="POST" enctype="multipart/form-data">
                                        <h4>Producto: <%= allProductToEdit.id %> - <%= allProductToEdit.name %></h4>
                                        <br>
                                        <div class="form-group">
                                            <label for="nombre">Nombre Producto:</label>
                                            <input id="nombre" type="text" class="form-control" name="nombre"
                                                value="<%=allProductToEdit.name %>"
                                                placeholder="<%= allProductToEdit.name %>">
                                        </div>


                                        <div class="input-group" style="width:100% ;">
                                            <label for="comment">Descripcion del producto :</label>
                                            <textarea class="form-control" rows="5" id="descripcion"
                                                placeholder="<%= allProductToEdit.description %>"
                                                name="descripcion"><%= allProductToEdit.description %></textarea>
                                        </div>

                                        <!-- COMBOS -->

                                        <div class=" row">
                                            <div class="col-xs-12 col-md-6">

                                                <!-- COMBO CATEGORIAS -->
                                                <div class="form-group">
                                                    <br>
                                                    <label for="">Seleccione categoria:</label>

                                                    <p>
                                                        <select class="form-control" id="categoria" name="categoria">
                                                            <option value="" selected disabled>Seleccione categoria:</option>
                                                            <% allCategory.forEach(categoryAnimals=> { %>
                                                                <option value="<%= categoryAnimals.id %>"
                                                                    <% if (allProductToEdit.categoryAnimal_id == categoryAnimals.id) { %> 
                                                                        selected
                                                                    <% } %> 
                                                                >
                                                                    <%= categoryAnimals.name %>
                                                                </option>
                                                                <% }) %>

                                                        </select>
                                                    </p>
                                                </div>
                                            </div>

                                            <!-- COMBO FAMILIAS -->
                                            <div class="col-xs-12  col-md-6">
                                                <div class="form-group">
                                                    <br>
                                                    <label for="">Seleccione familia:</label>

                                                    <select class="form-control" id="familia" name="familia">

                                                        <option value="" selected disabled>Seleccione familia:</option>

                                                        <% allFamily.forEach(FamilyProducts=> { %>
                                                            <option value="<%= FamilyProducts.id %>"
                                                                <% if (allProductToEdit.familyProduct_id == FamilyProducts.id) { %> 
                                                                    selected
                                                                <% } %> 
                                                            >
                                                                <%= FamilyProducts.name %>
                                                            </option>
                                                            <% }) %>

                                                    </select>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-xs-12 col-md-6">
                                                <label for="">Precio:</label>
                                                <div class="input-group">
                                                    <span title="Importe Producto" class="input-group-addon"><i
                                                            class="fa-solid fa-sack-dollar"></i></span>
                                                    <input step="0.01" min="1" type="number" name="precio" id="precio"
                                                        class="form-control" name="precio"
                                                        placeholder="<%= allProductToEdit.price %>"
                                                        value="<%= allProductToEdit.price %>">
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <label for="">Descuento:</label>
                                                <div class="input-group">
                                                    <span title="Descuento Producto" class="input-group-addon"><i
                                                            class="fa-solid fa-percent"></i></span>
                                                    <input step="0.01" min="0" name="descuento" id="descuento"
                                                        type="number" class="form-control" name="descuento"
                                                        placeholder="<%= allProductToEdit.discount %>"
                                                        value="<%= allProductToEdit.discount %>">
                                                </div>
                                            </div>
                                        </div>
                                        <input type="text" hidden   name="lblPathFotoOriginal" id="lblPathFotoOriginal" 
                                                        value="<%= allProductToEdit.image%>">
                                        
                                        
                                            <div class="form-group row">
                                                <div class="col-xs-12 col-md-6">
                                                    <label for="fotoProducto">Imagen del producto: </label>
                                                    <input type="file" name="fotoProducto" id="foto" class="input"
                                                        value="/img/products/<%= allProductToEdit.image%>">
                                                </div>
                                                <div class="col-xs-12  col-md-6">
                                                    <img src="<%= allProductToEdit.image%>" alt="imagen-no-disponible"
                                                        style="width:250px; height:300px ;">
                                                </div>

                                            </div>

                                            <div class="form-group row">
                                                <div class="col-xs-6 col-md-4">
                                                    <label for="activo">Producto activo:</label>
                                                    <select id="activo" name="activo" class="form-control">
                                                        <option value="" selected disabled>Seleccione activo:</option>
                                                        
                                                        <option  
                                                        <% if (allProductToEdit.active) { %> 
                                                            selected
                                                        <% } %> >SI</option>    
                                                        <option  <% if (!allProductToEdit.active) { %> 
                                                            selected
                                                        <% } %> >NO</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <hr>
                                            <div class="form-group row">
                                                <div class="col-12 ">
                                                    <button id="btnGuardar" type="submit"
                                                        class="btn btn-primary btn-md btn-block"><i
                                                            class="far fa-check-circle"></i>
                                                        Guardar</button>
                                                </div>
                                            </div>
                                    </form>
                </div>

            </main>

            <!-- FOOTER -->
            <%- include ('../partials/footer.ejs') %>

    </body>

</html>