<!DOCTYPE html>
<html lang="en">

<!--------------------- HEAD ----------------->

<%- include('../partials/head') %>
    <!--------------------- BODY ----------------->

    <body>
        <!--------------------- HEADER ----------------->
        <%- include('../partials/header') %>
        
      

            <!-------------------- MAIN --------------------->
            <main>
                <div class="container">
                    <h1>Editar Producto</h1>
                    <h4>Id : <%= productToEdit.id %> - <%= productToEdit.name %></h4>
                    
                    <% if(typeof alert !='undefined' ) { %>
                        <% alert.forEach(function(error) { %>
                            <div class="alert alert-danger alert-dismissible fade in">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <%= error.msg %>
                            </div>
                            <% }) %>
                                <% } %>

                                    <form action="/admin/productEdit/<%= productToEdit.id %>?_method=PATCH" method="POST" enctype="multipart/form-data">
                                        <a class="btn" href="/admin/products"><i class="fa-solid fa-circle-left"></i> Volver</a>
                                        <div class="form-group">
                                            <label for="nombre">Nombre Producto:</label>
                                            <input id="nombre" type="text" class="form-control" name="nombre"
                                                value="<%=productToEdit.name %>" placeholder="<%= productToEdit.name %>">
                                        </div>
 

                                        <div class="input-group" style="width:100% ;">
                                            <label for="comment">Descripcion del producto :</label>
                                            <textarea class="form-control" rows="5" id="descripcion"
                                                 placeholder="<%= productToEdit.description %>"
                                                name="descripcion"><%= productToEdit.description %></textarea>
                                        </div>

                                        <div class=" row">
                                            <div class="col-xs-12 col-md-6">

                                                <div class="form-group">
                                                    <label for="categoria">Seleccione categoria:</label>
                                                    <select class="form-control" id="categoria" name="categoria">
                                                        <option></option>
                                                        <option>Perros</option>
                                                        <option>Gatos</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-12  col-md-6">
                                                <div class="form-group">
                                                    <label for="familia">Seleccione familia:</label>
                                                    <select class="form-control" id="familia"
                                                        name="familia">
                                                        <option></option>
                                                        <option>Alimentos</option>
                                                        <option>Juguetes</option>
                                                        <option>Snack</option>
                                                        <option>Higiene</option>
                                                        <option>Ropa</option>
                                                        <option>Comederos</option>
                                                        <option>Camas</option>
                                                        <option>Articulos</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <div class="col-xs-12 col-md-6">
                                                <div class="input-group">
                                                    <span title="Importe Producto"  class="input-group-addon"><i
                                                            class="fa-solid fa-sack-dollar"></i></span>
                                                    <input step="0.01" min="1" type="number" name="precio" id="precio"
                                                        class="form-control" name="precio"
                                                        placeholder="<%= productToEdit.price %>"
                                                        value="<%= productToEdit.price %>">
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <div class="input-group">
                                                    <span title="Descuento Producto" class="input-group-addon"><i
                                                            class="fa-solid fa-percent"></i></span>
                                                    <input step="0.01" min="0" name="descuento" id="descuento"
                                                        type="number" class="form-control" name="descuento"
                                                        placeholder="<%= productToEdit.discount %>"
                                                        value="<%= productToEdit.discount %>">
                                                </div>
                                            </div>
                                        </div>
                                        <%= productToEdit.image%>
                                        <div class="form-group row">
                                            <div class="col-xs-12 col-md-6">
                                                <label for="fotoProducto">Imagen del producto: </label>
                                                <input type="file" name="fotoProducto" id="foto" class="input" value="/img/products/<%= productToEdit.image%>">
                                            </div>
                                            <div class="col-xs-12  col-md-6">
                                                        <img src="<%= productToEdit.image%>"
                                                            alt="imagen-no-disponible" style="width:250px; height:300px ;">
                                                    </div>

                                        </div>

                                        <div class="form-group row">
                                            <div class="col-xs-6 col-md-4">
                                               <label for="activo">Producto activo:</label>
                                               <select id="activo" name="activo" class="form-control">
                                                   <option></option>
                                                   <option>SI</option>
                                                   <option>NO</option>

                                               </select>
                                           </div>
                                          </div> 
                                              
                                        <hr>
                                        <div class="form-group row">
                                            <div class="col-12 ">
                                                <button id="btnGuardar" type="submit"
                                                    class="btn btn-primary btn-md btn-block"><i
                                                        class="far fa-check-circle"></i>
                                                    Guardar</button>
                                            </div>
                                            
                                         
                                        </div>
                                        
                                        <script type="text/javascript">
                                            document.getElementById("categoria").value = '<%=productToEdit.category%>';
                                            document.getElementById("familia").value = '<%=productToEdit.family%>';
                                            
                                            if ('<%=productToEdit.active%>' == 1) 
                                            {
                                                document.getElementById("activo").value ='SI';
                                            } else {document.getElementById("activo").value = 'NO'}
                                            
                                            
                                            
                                           
                                        </script>
                                        
                                   
                                    </form>
                </div>
                
            </main>

            <!-- FOOTER -->
            <%- include ('../partials/footer.ejs') %>
          
    </body>
   
</html>