<!DOCTYPE html>
<html lang="en">


<!--------------------- HEAD ----------------->

<%- include('../partials/head') %>
    <!--------------------- BODY ----------------->

    <body>
        <!--------------------- HEADER ----------------->
        <%- include('../partials/header') %>

            <!-------------------- MAIN --------------------->


            <main>
                <div class="container">
                    <h1> Alta - Baja - Modificacion de producto </h1>
                    <br>
                    <a class="btn" href="/admin"><i class="fa-solid fa-circle-left"></i> Volver</a>
                    <a class="btn" href="/admin/productNew">Crear Producto <i class="fa-solid fa-file"></i></a>
                    <br><br>
                    <input class="form-control" id="myInput" type="text" placeholder="Buscar..">
                    <br>
                    <table style="margin-left: 0; margin-right:0 ;" class="table">
                        <thead>
                            <tr>
                                <th style="width: 5%; text-align: center; ">id</th>
                                <th style="width: 30%;text-align: center;">Nombre</th>
                                <th style="width: 15%;text-align: center;">Categoria</th>
                                <th style="width: 15%;text-align: center;">Familia</th>
                                <th style="width: 10%;text-align: center;">Activo</th>
                                <th style="width: 10%;text-align: center;">Editar</th>
                                <th style="width: 15%;text-align: center;">Activar/Desactivar</th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                            <% for (let aux of todosLosProductos ){ %>
                                <tr>
                                    <td>
                                        <%= aux.id%>
                                    </td>
                                    <td>
                                        <%= aux.name%>
                                    </td>
                                    <td>
                                        <%= aux.familyProducts.name%>
                                    </td>
                                    <td>
                                        <%= aux.categoryAnimals.name%>
                                    </td>
                                    <td>
                                        <% if (aux.active==0) { %> NO<%} else { %> SI<% } %> 
                                    </td>

                                    <td>
                                        <a href="/admin/productEdit/<%= aux.id%>" class="btn-edit-grid"><i title="Editar producto"
                                                
                                            class="fa-solid fa-pen-to-square"></i></a>

                                    </td>

                                     <td>
                                              
                                                <% if (aux.active==1) { %> 
                                                    <form style="display:inline; " action="/admin/productInactivar/<%= aux.id%>" method="POST">
                                                        <button type="submit"  class="btn-activar-grid"><i title="Inactivar producto"
                                                                class="fa-regular fa-square-check"></i></button>
                                                    </form>

                                                    <% } else { %>
                                                        <form style="display:inline; " action="/admin/productActivar/<%= aux.id%>" method="POST">
                                                            <button type="submit"  class="btn-inactivar-grid"><i title="Activar producto"
                                                                    class="fa-regular fa-square"></i></button>
                                                        </form>
                                                        <% } %>
     
                                                

                                    </td>
                                  
                                </tr>
                                <%}%>
                        </tbody>
                    </table>




                </div>
            </main>

            <!-- FOOTER -->
            <%- include ('../partials/footer.ejs') %>
    </body>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

</html>