<!DOCTYPE html>
<html lang="en">

<!--------------------- HEAD ----------------->

<%- include('../partials/head') %>
    <!--------------------- BODY ----------------->

    <body>
        <!--------------------- HEADER ----------------->
        <%- include('../partials/header') %>

            <!-------------------- MAIN --------------------->


            <main>
                <div class="container">
                    <h1> Agregar - modificar Categorias</h1>
                    <a class="btn" href="/admin"><i class="fa-solid fa-circle-left"></i> Volver</a>
                    <a class="btn" href="/admin/categoryNew">Crear Categoria <i class="fa-solid fa-file"></i></a>
                    <br><br>
                    <input class="form-control" id="myInput" type="text" placeholder="Buscar..">
                    <br>
                    <table style="margin-left: 0; margin-right:0 ;" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Categoria</th>
                                <th>Familia</th>
                                <th>Activo</th>
                                <th>Acciones</th>


                            </tr>
                        </thead>
                        <tbody id="myTable">
                            <% for (let aux of categorias ){ %>
                                <tr>
                                    <td>
                                        <%= aux.id%>
                                    </td>
                                    <td>
                                        <%= aux.nombre%>
                                    </td>
                                    <td>
                                        <%= aux.activo%>
                                    </td>

                                    <td>
                                        <a href="/admin/categoryEdit/<%= aux.id%>" class="btn-edit-grid"><i
                                                title="Editar Categoria" class="fa-solid fa-pen-to-square"></i></a>

                                        <% if (aux.activo==1) { %>
                                            <form style="display:inline; "
                                                action="/admin/categoryInactivar/<%= aux.id%>" method="POST">
                                                <button type="submit" class="btn-inactivar-grid"><i
                                                        title="Inactivar categoria"
                                                        class="fa-solid fa-thumbs-down"></i></button>
                                            </form>

                                            <% } else { %>
                                                <form style="display:inline; "
                                                    action="/admin/categoryActivar/<%= aux.id%>" method="POST">
                                                    <button type="submit" class="btn-activar-grid"><i
                                                            title="Activar categoria"
                                                            class="fa-solid fa-thumbs-up"></i></button>
                                                </form>
                                                <% } %>



                                    </td>
                                </tr>
                                <%}%>
                        </tbody>
                    </table>




                </div>
            </main>

            <!-- FOOTER -->
            <%- include ('../partials/footer.ejs') %>
    </body>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

</html>