<!DOCTYPE html>
<html lang="en">

<!--------------------- HEAD ----------------->

<%- include('./partials/head') %>
    <!--------------------- BODY ----------------->

    <body>
        <!--------------------- HEADER ----------------->
        <%- include('./partials/header') %>

            <!-------------------- MAIN --------------------->


            <main>
                <div class="container">
                    <h1> Alta - Baja - Modificacion de producto </h1>

                    <br>
                    <a href="/products/productNew">Crear Producto <i class="fa-solid fa-file"></i></a>

                    
                    <br><br>
                    <input class="form-control" id="myInput" type="text" placeholder="Buscar..">
                    <br>
                    <table style="margin-left: 0; margin-right:0 ;" class="table table-striped">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Nombre</th>
                                <th>Categoria</th>
                                <th>Familia</th>
                                <th>Activo</th>
                                <th>Acciones</th>
                                <th>Acciones</th>

                            </tr>
                        </thead>
                        <tbody id="myTable">
                            <% for (let aux of todosLosProductos ){ %>
                                <tr>
                                    <td>
                                        <%= aux.id%>
                                    </td>
                                    <td>
                                        <%= aux.nombre%>
                                    </td>
                                    <td>
                                        <%= aux.categoria%>
                                    </td>
                                    <td>
                                        <%= aux.familia%>
                                    </td>
                                    <td>
                                        <%= aux.activo%>
                                    </td>

                                    <td><a href="<%= aux.id%>"><i title="Editar producto"
                                                style="color:darkblue; font-size: 20px ; "
                                                class="fa-solid fa-pen-to-square"></i></a>

                                    </td>
                                    <td>
                                        <form action="/products/productDelete/<%= aux.id%>" method="POST">
                                            <button type="submit" class="btn"><i title="Eliminar producto"
                                                    style="color:darkred; font-size: 20px ; "
                                                    class="fa-solid fa-trash-can"></i></button>
                                        </form>
                                    </td>
                                </tr>
                                <%}%>
                        </tbody>
                    </table>




                </div>
            </main>

            <!-- FOOTER -->
            <%- include ('./partials/footer.ejs') %>
    </body>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

</html>