<!DOCTYPE html>
<html lang="en">

<!--------------------- HEAD ----------------->
<%- include('./partials/head') %>
	<!--------------------- BODY ----------------->

	<body>

		<!--------------------- HEADER ----------------->
		<%- include('./partials/header') %>

			<!-------------------- MAIN --------------------->
			<main>
				<!-- DETALLE DEL PRODUCTO -->
				<div class="container products-wrapper">
					<div class="row">
						<div class="col-12">
							<h2 class="products-title">Detalle del producto: <%= product.nombre %>
							</h2>
						</div>
					</div>
					<div class="product-detail" >
						<div class="row">
							<div class="col-12 col-lg-8">
								<img src="<%= product.imagen %>" alt="product imagen" class="product-detail-img" style="width:500px; ">
								<p class="product-detail-description" style="text-align: center;">
									<%= product.description %>
								</p>
							</div>
							<div class="col-12 col-lg-4">
								<article class="product-detail-info">
									<h2 class="product-detail-title">
										<%= product.nombre %>
									</h2>
									<% if(product.descuento> 0) {
										let finalPrice = (product.precio * ((100 - product.descuento) / 100)).toFixed(0)
										%>
										<p class="product-detail-price small" style="text-align:center">
											<span> $ <%= product.precio %></span>
											/
											<b>
												<%= product.descuento %>% OFF
											</b>
										</p>
										<p class="product-detail-price" style="text-align:center">
											$<%= finalPrice %>
										</p>
										<% } else { %>
											<p class="product-detail-price" style="text-align:center">
												$<%= product.precio %>
											</p>
											<% } %>

												<ul class="actions-list">
													<li>
														
														<p><i class="fas fa-credit-card iconito"></i> Pagá en 12 cuotas sin interes</p>
													</li>
													<li>
														
														<p><i class="fas fa-store icono"></i> Retira gratis en nuestros locales</p>
													</li>
												</ul>

												<div class="boton-final contenedor-botones ">
													<button id="" type="submit" class="btn-success boton-seguridad">
														COMPRAR
													</button>
												

													<button id="" type="submit" class="btn-success boton-seguridad" style="background-color:  #05668d ;">
														<i class="fas fa-pencil-alt"></i> Editar 
													</button>


													<button id="" type="reset" class="boton-seguridad" style="background-color: orangered;">
														<i class="fas fa-trash-alt"></i> Eliminar
													</button>
												</div>

								</article>
							</div>
						</div>
					</div>
				</div>

			</main>

			<!-------------------- FOOTER --------------------->
			<%- include ('./partials/footer.ejs') %>
	</body>

</html>