<!DOCTYPE html>
<html lang="en">

<!--------------------- HEAD ----------------->
<%- include('./partials/head') %>
  <!--------------------- BODY ----------------->

  <body>

    <!--------------------- HEADER ----------------->
    <%- include('./partials/header') %>

      <!-------------------- MAIN --------------------->
  <main>
        <!-- DETALLE DEL PRODUCTO -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Detalle del producto: <%= product.nombre %></h2>
			</div>
		</div>
		<div class="product-detail">
			<div class="row">
				<div class="col-12 col-lg-8">
					<img src="/img/products/<%= product.imagen %>" alt="product image" class="product-detail-img">
					<p class="product-detail-description">
						<%= product.description %>
					</p>
				</div>
				<div class="col-12 col-lg-4">
					<article class="product-detail-info">
						<h2 class="product-detail-title"><%= product.nombre %></h2>
						<% if(product.descuento > 0) { 
							let finalPrice = (product.precio * ((100 - product.descuento) / 100)).toFixed(0)
						%>
							<p class="product-detail-price small">
								<span> $ <%= product.precio %></span>
								/
								<b><%= product.descuento %>% OFF</b>
							</p>
							<p class="product-detail-price">
								$<%= finalPrice %>
							</p>
						<% } else { %>
							<p class="product-detail-price">
								$<%= product.precio %>
							</p>
						<% } %>

						<ul class="actions-list">
							<li>
								<i class="fas fa-credit-card"></i>
								<p>Pagá en 12 cuotas sin interes</p>
							</li>
							<li>
								<i class="fas fa-store"></i>
								<p>Retiro gratis en locales del vendedor</p>
							</li>
						</ul>

						<a href="#" class="buy-now-button">COMPRAR AHORA</a>
						<hr>
            
						<a href="/todosLosProductos/edit/<%= product.id %>" class="action-button edit">EDITAR PRODUCTO</a>
						<form action="/todosLosProductos/delete/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
							<button type="submit" class="action-button delete">ELIMINAR</button>
						</form>
					</article>
				</div>
			</div>
		</div>
	</div>
	
  </main>

      <!-------------------- FOOTER --------------------->
      <%- include ('./partials/footer.ejs') %>
  </body>

</html>