<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>
	<!--------------------- BODY ----------------->

	<body>
		<!--------------------- HEADER ----------------->
		<%- include('./partials/header') %>

			<!--------------------- MAIN ----------------->
			<main class="main">

				<div class="panel">
					<div class=" jumbotron" style="padding:20px ;">
						<h1>Busca todo lo que tu mascota necesita, en un solo lugar...</h1>
						<p>Venta minorista y mayorista de alimentos balanceados de las mejores marcas del país y al
							mejor precio. También contamos con una amplia variedad de accesorios.</p>
					</div>


					<!-- todos los productos -->
					<div class="container products-wrapper">
						<div class="row">
							<div class="col-12">
								<h2 class="products-title">Todos los productos</h2>
							</div>

							<% todosLosProductos.forEach(function(product){ let finalPrice=(product.precio * ((100 - product.descuento) / 100)).toFixed(0)%>
								<div class="col-12 col-sm-6 col-lg-3">
									<section class="product-box" style="text-align:center;">
										<a href="/products/productDetail/id<%= product.id %>">
											<figure class="product-box_image">
												<img src="<%= product.imagen %>" alt="imagen de producto" style="width:170px;  margin: 0px auto">
											</figure>
											<article class="product-box_data">
												<h2>
													<%= finalPrice %>
												</h2>
												<span>
													<%= product.descuento %> %OFF
												</span>
												<p>
													<%= product.nombre %>
												</p>
												<i class="fas fa-paw iconito"></i>
											</article>
										</a>
									</section>
								</div>
								<% }) %>

						</div>
					</div>
					
				</div>

			</main>
			<!--------------------- FOOTER ----------------->
			<%- include ('./partials/footer.ejs') %>

	</body>

</html>