<!DOCTYPE html>
<html lang="en">
<!--------------------- HEAD ----------------->
<%- include('../partials/head') %>
    
    <!--------------------- BODY ----------------->
    <body>
        <!--------------------- HEADER ----------------->
        <%- include('../partials/header') %>

            <!-------------------- MAIN --------------------->
            <main>
              <div class="container" class="text-align: center">
                <div class=" jumbotron" style="padding:70px ;">
                    <h1>Bienvenido a tu perfil</h1>
                </div>
                <div>
                  Ok, ingresaste
                </div>
              </div>
              <!-- PERFIL -->
              <div class="conteiner" style="margin: top 40px;">
                <div class="row">
                  <div class="col-md-3">
                    <h2> Hello <%= usuarios.name %> </h2>
                    <img src="/img/usersImage/<%= usuarios.image %> ">
                    <br>
                    <br>
                    <div class="alert alert-success"><%= usuarios.email %> </div>
                  </div>
                </div>
              </div>
              
            </main>

             <!-------------------- FOOTER --------------------->
            <%- include ('../partials/footer.ejs') %>
    </body>

</html>