<!DOCTYPE html>
<html lang="en">

<!--------------------- HEAD ----------------->
<%- include('../partials/head') %>

    <!--------------------- BODY ----------------->

    <body>
        <!--------------------- HEADER ----------------->
        <%- include('../partials/header') %>


            <!--------------------- MAIN ----------------->
            <main>

                <h1>Usuarios Registrados: </h1>


                <% for(let user of usuarios) { %>

                    <div class="user-container">
                        <a href="/user/edit/<%= user.id %> ">

                            <p>Id: <%= user.id %>
                            </p>
                            <p>Nombre: <%= user.name %>
                            </p>
                            <p>Password: <%= user.password %>
                            </p>
                            <p>Repetir Password : <%= user.rePassword %>
                            </p>

                            <!-- <div class="form-delete">
                                    <form action="/user/edit/delete/<%= user.id %>?_method=DELETE" method="POST"  >
                                     <button type="submit" class="boton-eliminar">Eliminar Usuario</button>
                                    </form>
                                </div> -->

                        </a>
                    </div>

                    <% } %>




            </main>



    </body>

    <!--------------------- FOOTER ----------------->
    <%- include ('../partials/footer.ejs') %>

</html>